{% extends "base.html" %}
{% load staticfiles %}
{% block title %}RESAS{% endblock title %}
{% block extrahead %}
    <style>
        .img-list {
            width: 320px !important;
            height: 280px !important;

        }

        .content-section-a {
            background: #FAFAFA;
        }

        .content-section-c {
            background: darkslateblue;
        }

        #movie-frame {
            width: 560px;
            height: 400px;
            margin: 0px auto;
            overflow: hidden;
        }

        #scale {
            transform: scale(0.68);
        }

        table tr td a {
            display: block;
            height: 100%;
            width: 100%;
        }

        table tr td {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- NavBar-->
    <nav class="navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">跡取りっぷ</a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="menuItem"><a href="{% url 'top_page' %}">Top Page</a></li>
                    <li class="menuItem"><a href="#visualize">Visualize</a></li>
                    <li class="menuItem"><a href="#culture">Culture</a></li>
                    <li class="menuItem"><a href="#movie">Movie</a></li>
                    <li class="menuItem"><a href="#event">Event</a></li>
                    <li class="menuItem"><a href="#job">Job</a></li>
                    <li class="menuItem"><a href="#subsidy">Subsidy</a></li>
                    <li class="menuItem"><a href="#scene">Scene</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <!-- Visualize -->
    <div id="visualize" class="content-section-a" style="border-top: 0">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>{{ content.pref_name }} {{ content.city_name }}</h2>
                    <p>{{ content.city_text }}</p>
                </div>
                <div class="col-md-4">
                    <br>
                    <img src="{{ content.location_picture }}" width="250" , height="200">
                </div>
            </div>
        </div>
    </div>

    <!-- culture -->
    <div id="culture" class="content-section-b" style="border-top: 0">
        <div class="container">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h3>文化・職業の魅力ポイント</h3>
            </div>
            <div class="row">
                <div class="col-sm-4 wow fadeInDown text-center">
                    <img class="img-responsive " src="{{ content.point_picture1 }}" alt="">
                    <h3>{{ content.point_title1 }}</h3>
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4 wow fadeInDown text-center">
                    <img class="img-responsive " src="{{ content.point_picture2 }}" alt="">
                    <h3>{{ content.point_title2 }}</h3>
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4 wow fadeInDown text-center">
                    <img class="img-responsive " src="{{ content.point_picture3 }}" alt="">
                    <h3>{{ content.point_title3 }}</h3>
                </div><!-- /.col-lg-4 -->
            </div>
        </div>
    </div>

    <!-- movie -->
    <div id="movie" class="content-section-a">
        <div class="container">
            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h3>地域・職を知ろう(NHK動画)</h3>
            </div>
            <div class="row">
                {% for nhk_movie in nhk_movies %}
                    <div class="col-sm-4 wow fadeInRightBig">
                        <div id="scale">
                            <div id="movie-frame">
                                <iframe src="{{ nhk_movie.url }}"
                                        style="width: 1200px;height: 1200px; margin-left:-80px;margin-top:-300px;"></iframe>
                            </div>
                            <a href="{{ nhk_movie.url }}"><h3>{{ nhk_movie.title }}</h3></a><br>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- event -->
    <div id='event' class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInLeftBig">
                    <div id="owl-demo-1" class="owl-carousel">
                        {% for local_event in local_events %}
                            <a href="{{ local_event.thumb_image }}" class="image-link">
                                <div class="item">
                                    <img class="img-responsive img-rounded" src="{{ local_event.thumb_image }}"
                                         alt="">
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-sm-6 wow fadeInRightBig" data-animation-delay="200">
                    <h3 class="section-heading">イベントギャラリー　</h3>
                    <div class="sub-title lead3">近頃{{ local_event_count }}回のローカルイベントが開催され、<br> コミュニティが非常に活発</div>
                    <p class="lead">
                        {% for local_event in local_events %}
                            <a href="{{ local_event.info_homepage }}">・{{ local_event.event_title }}</a><br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- job -->
    <div id="job" class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 pull-right wow fadeInRightBig">
                    <br>
                    <img class="img-responsive " src="{{ content.kyu_picture }}" alt="">
                </div>
                <div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
                    <h3 class="section-heading">募集要項</h3>
                    <ul class="descp lead2">
                        <li>求人者: {{ content.kyu_syoku }} </li>
                        <li>仕事内容: {{ content.kyu_work }}</li>
                        <li>PR:<br> {{ content.kyu_pr }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Scene -->
    <div id="scene" class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
                    <h3>写真リスト</h3>
                    <p class="lead" style="margin-top:0">職業の画像など魅力の伝わる画像をはる</p>
                </div>
            </div>
            <div class="row wow bounceInUp">
                <div id="owl-demo" class="owl-carousel">

                    <a href="{{ content.picture1 }}" class="image-link">
                        <div class="item">
                            <img class="img-responsive img-rounded img-list" src="{{ content.picture1 }}"
                                 alt="Owl Image" width="300" height="280">
                        </div>
                    </a>

                    <a href="{{ content.picture2 }}" class="image-link">
                        <div class="item">
                            <img class="img-responsive img-rounded img-list" src="{{ content.picture2 }}"
                                 alt="Owl Image" width="300" height="280">
                        </div>
                    </a>

                    <a href="{{ content.picture3 }}" class="image-link">
                        <div class="item">
                            <img class="img-responsive img-rounded img-list" src="{{ content.picture3 }}"
                                 alt="Owl Image" width="300" height="280">
                        </div>
                    </a>
                    <a href="{{ content.picture4 }}" class="image-link">
                        <div class="item">
                            <img class="img-responsive img-rounded img-list" src="{{ content.picture4 }}"
                                 alt="Owl Image" width="300" height="280">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- subsidy -->
    <div id="subsidy" class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 wow fadeInLeftBig" data-animation-delay="200">
                    <h3 class="section-heading">補助金情報</h3>
                    <table class='table table-hover dc-data-table' id='dc-detail-table'>
                        <thead>
                        <tr class='header'>
                            <th>補助金</th>
                            <th>概要</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subsidy in subisdies %}
                            <tr>
                                <td><a href="{{ subsidy.url }}" style="text-decoration:none;">{{ subsidy.subsidy }}</a>
                                </td>
                                <td><a href="{{ subsidy.url }}" style="text-decoration:none;">{{ subsidy.content }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-c">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center white">
                    <h3>応募する</h3>
                    <p class="lead" style="margin-top:0">実際に訪問してみましょう</p>
                </div>
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="mockup-content">
                        <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
                            <button type="button"><span>応募する</span></button>
                            <div class="morph-content">
                                <div>
                                    <div class="content-style-form content-style-form-4 ">
                                        <h2 class="morph-clone">応募する</h2>
                                        <form>
                                            <p><label>レジュメをアップロードする</label><input type="file"/></p>
                                            <p>
                                                <button>応募する</button>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="{% static 'js/crossfilter.js' %}"></script>
    <script src="{% static 'js/dc.js' %}"></script>
    <script type="text/javascript">
        function render_plots() {
            population
                    .width(500)
                    .height(150)
                    .chart(function (c) {
                        return dc.lineChart(c).interpolate('basis');
                    })
                    .margins({top: 30, right: 50, bottom: 25, left: 70})
                    .x(d3.scale.linear().domain([2000, 2040]))
                    .dimension(dimPrefYear)
                    .group(grpPrefYear)
                    .legend(dc.legend().x(350).y(10).itemHeight(13).gap(5).horizontal(1).legendWidth(140).itemWidth(70))
                    .seriesAccessor(function (d) {
                        return d.key[0];
                    })
                    .keyAccessor(function (d) {
                        return d.key[1];
                    })
                    .valueAccessor(function (d) {
                        return d.value;
                    });
            sarary
                    .width(500)
                    .height(150)
                    .dimension(dimPref)
                    .margins({left: 80, top: 20, right: 10, bottom: 70})
                    .group(grpPref)
                    .valueAccessor(function (p) {
                        return p.value.count > 0 ? p.value.total / p.value.count : 0;
                    })
                    .x(d3.scale.ordinal())
                    .xUnits(dc.units.ordinal)


            console.log('Rendering');
            dc.renderAll();
        }
        var ndx;
        var population = dc.seriesChart("#population_timeseries");
        var sarary = dc.barChart("#sarary_barchart")

        /* Get data */
        var data = {{ result|safe }};
        console.log(data);
        ndx = crossfilter(data);

        /* Set dimension */
        var dimPrefYear = ndx.dimension(function (d) {
            return [d.pref_name, d.year];
        });
        var dimPref = ndx.dimension(function (d) {
            return d.pref_name;
        });

        /* Set group */
        var grpPrefYear = dimPrefYear.group().reduceSum(function (d) {
            return d.value;
        });
        var grpPref = dimPref.group().reduce(reduceAdd, reduceRemove, reduceInitial);

        function reduceAdd(p, v) {
            ++p.count;
            p.total += v.sarary;
            return p;
        }

        function reduceRemove(p, v) {
            --p.count;
            p.total -= v.sarary;
            return p;
        }

        function reduceInitial() {
            return {count: 0, total: 0};
        }

        render_plots();

    </script>
{% endblock content %}
