{% extends "base.html" %}
{% load staticfiles %}
{% block title %}RESAS{% endblock title %}
{% block extrahead %}
{% endblock %}
{% block content %}
    <!-- NavBar-->
    <nav class="navbar-default" role="navigation" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">跡Trip</a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="menuItem"><a href="{% url 'top_page' %}">Top Page</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- FullScreen -->
    <div class="intro-header">
        <div class="col-xs-12 text-center abcen1">
            <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s" style="color: #0b0b0b">跡Trip</h1>
            <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s" style="color: #0b0b0b">跡取りを探している人と地方で輝きたい人を旅でつなぐサイト<br>
                魅力を伝えるお手伝いをする</h3>
            <ul class="list-inline intro-social-buttons">
                <li id="download"><a href="#whatis"
                                     class="btn  btn-lg mybutton_standard wow swing wow fadeIn"
                                     data-wow-delay="1.2s"><span
                        class="network-name"><p style="color: #0b0b0b">>詳細を見てみる</p></span></a>
                </li>
            </ul>
        </div>
        <!-- /.container -->
        <div class="col-xs-12 text-center abcen wow fadeIn">
            <div class="button_down ">
                <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#whatis"> <img class="img_scroll"
                                                                                                  src="/static/img/icon/circle.png"
                                                                                                  alt=""> </a>
            </div>
        </div>
    </div>
    <div id="whatis" class="content-section-b" style="border-top: 0">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                    <h3>新しい生活を探してみる</h3>
                </div>
            </div>
            <div class="row">
                {% for content in contents %}
                    <div class="col-sm-4 wow fadeInDown text-center">
                        <h4> {{ content.pref_name }} {{ content.city_name }}</h4>
                        <img src="{{ content.main_picture }}" alt="image" width="320" height="200">
                        <h3>{{ content.main_title }}</h3>
                        <p>
                            <a href="{% url 'detail_page' %}?pref_code={{ content.pref_code }}&pref_name={{ content.pref_name }}&city_name={{ content.city_name }}&city_code={{ content.city_code }}&id={{ content.id }}"
                               class="btn btn-embossed btn-primary view"
                               role="button">View Details</a></p>
                    </div>
                {% endfor %}
                <div class="col-sm-4 wow fadeInDown text-center">
                    <h4> 岡山県岡山市 </h4>
                    <img src="/static/img/job_pic2.jpg" alt="image" width="320" height="200">
                    <h3> 左官職人</h3>
                    <p class="lead"> 真摯な手仕事でお客様のイメージを形にしていく、左官職人。</p>
                    <p><a href="{% url 'detail_page' %}?pref_code=33&pref_name=岡山県&city_name=岡山市&city_code=33100"
                          class="btn btn-embossed btn-primary view"
                          role="button">View Details</a></p>
                </div>
                <div class="col-sm-4 wow fadeInDown text-center">
                    <h4> 山口県盛岡市 </h4>
                    <img src="/static/img/job_pic3.jpg" alt="image" width="320" height="200">
                    <h3>盆栽職人になる！</h3>
                    <p class="lead">苔玉盆栽で癒しを！盆栽職人が教える季節の楽しみ方</p>
                    <p><a href="{% url 'detail_page' %}?pref_code=35&pref_name=山口県&city_name=盛岡市&city_code=03201"
                          class="btn btn-embossed btn-primary view"
                          role="button">View Details</a></p>
                </div>
            </div>
        </div>
    </div>
    <div id="visualize" class="content-section-b" style="border-top: 0">
        <div class="container">
            <div class="row">
                <div class='tableauPlaceholder' id='viz1486278997736' style='position: relative'>
                    <noscript><a href='#'><img alt='ダッシュボード 1 '
                                               src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ha&#47;hackason&#47;1_1&#47;1_rss.png'
                                               style='border: none'/></a></noscript>
                    <object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
                        <param name='site_root' value=''/>
                        <param name='name' value='hackason&#47;1_1'/>
                        <param name='tabs' value='no'/>
                        <param name='toolbar' value='yes'/>
                        <param name='static_image'
                               value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ha&#47;hackason&#47;1_1&#47;1.png'/>
                        <param name='animate_transition' value='yes'/>
                        <param name='display_static_image' value='yes'/>
                        <param name='display_spinner' value='yes'/>
                        <param name='display_overlay' value='yes'/>
                        <param name='display_count' value='yes'/>
                    </object>
                </div>
            </div>
        </div>
    </div>
    <div id="system" class="content-section-b" style="border-top: 0">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                    <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                        <h3>サービスの概要</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="text-align:center">
                            <img src="/static/img/service.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="content-section-b" style="border-top: 0">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                    <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                        <h3>緊急課題</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="text-align:center">
                            <img src="/static/img/gazo1.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'>                    var divElement = document.getElementById('viz1486278997736');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '1004px';
    vizElement.style.height = '869px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
{% endblock content %}
